body {
    background-color: #f0f1f4;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #737b8a;
}
h1,h2,h3,h4,h5,h6 {
    color: #008000;
}
h1 {
    letter-spacing: 0px;
    font-size: 44px;
    font-weight: 300;
}
img {
    max-width: 100%;
}
a:focus {
    outline: none;
    text-decoration: none;
}
a {
    color: #0043dc;
}
a:hover {
    text-decoration: none;
    color: #487bef;
}
/* ================================================================================================== */

.bg_temp {
	/* background-color: #354134; */
    background-color: rgba(0,0,0,0.5);
}



.margin-top {
    margin-top: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.dropdown-menu {
    margin-top: 0px;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.margin-left {
    margin-left: 10px;
}
.margin-right {
    margin-right: 10px;
}
.strong {
    font-weight: 600;
}
.silver {
    color: #9699a7;
}

/* ================================= */

.grey-bg {
    background-color: #dce0dc;
}

#story_back {
    text-align: center;
}

/* #story_color {
	background-color: #f2f4f2;
} */

#intro_back00 {
	background-color: #8ea25b;
	text-align: center;
}

#intro_back01 {
	background-color: #dad198;
	text-align: center;
}

#intro_back02 {
	background-color: #aa6953;
	text-align: center;
}

.temp-bg {
    background-color: #e8eae8;
}

#subtitle_Pad {
	margin-top: 10px;
}

.ms1_textA {
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 8px 25px;
	font-size:16px;
	font-family:NanumSquare;
}

.ms1_textA01 {
	color: #666666;
	border: 1px solid #666666;
	padding: 8px 25px;
	font-size:16px;
	font-family:NanumSquare;
}

#second_hrad {
	color: #666666;
}

.ms2_textH3 {
	text-align: center;
}

.ms2_textA {
	color: #464646;
	border: 1px solid #464646;
	padding: 8px 25px;
	font-size:16px;
	font-family:NanumSquare;
	font-weight: 600;
}

.ms3_textH3 {
	text-align: center;
}

.ms3_textP01 {
	font-family:Gabriola;
	color:#464646;
	font-size:26px;
	text-align:center;
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 1.4;
}

.ms3_textP02 {
	font-family:NanumSquare;
	color:#464646;
	font-size:18px;
	text-align:center;
	padding-top: 10px;
	padding-bottom: 50px;
	line-height: 1.6;
}

.ms4_textH3 {
	text-align: center;
}

.ms4_textP {
	text-align: center;
}

.ms4_textA {
	color: #464646;
	border: 1px solid #464646;
	padding: 8px 25px;
	font-size:16px;
	font-family:NanumSquare;
	text-align: center;
}

.LtR_bor {
	border: 1px solid #ffffff;
	padding-bottom: 17%;
}

.ms5 {
	text-align: center;
}

.sns {
	margin-top: 20px;
}

.sns a {
	margin-right: 15px;
	margin-left: 15px;
}

/* ================================= */

.map_Schange {
	padding-top: 20px;
}

iframe.ms4_iframe01 {
    width: 100%;
    min-height: 268px;
}

.carousel-inner {
	position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 720px;
}

.carousel-inner img {
	width: 100%;
	margin: 0 auto;
	min-height: initial;
}

.carousel-caption {
	top: 15%;
	bottom: auto;
}

/* ================================= */

.btn-lg {
    padding: 16px 26px!important;
}
.btn {
    border-radius: 2px;
    padding: 8px 16px;
}
.btn-lg {
    border-radius: 2px;
}
.info-box-pad {
    padding: 20px;
}
.modal-content h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.modal-body {
    padding: 40px;
}
.modal-body .silver {
    color: rgba(0, 0, 0, 0.5);
}
.modal-body .form-actions {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
}
.modal-body form .control-label {
    margin-top: 10px;
}
.modal-body form input,
.modal-body form select {
    width: 100%;
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
}
.modal-header {
    background-color: #fff;
    color: #2b3242;
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header .close {
    color: #2b3242;
    text-shadow: none;
    line-height: 1.4;
}
.modal-content {
    border: 0px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f5f5f9;
}
.modal.zoomin .modal-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1!important;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
.modal.zoomin.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1!important;
}
.modal.zoomin.in .modal-backdrop {
    opacity: 0.9;
}
.modal.zoomin .modal-backdrop {
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    transition: opacity 0.1s;
    opacity: 0;
}
input[type=checkbox] {
    width: 30px!important;
}
.modal-backdrop.in {
    opacity: .9;
    filter: alpha(opacity=90);
}

/* ==================================================================== */

@media (min-width: 768px) {
    .modal-bigger {
        width: 750px;
    }
    .modal-smaller {
        width: 400px;
    }
    
    .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 32.666667% !important;
    /* border: 1px solid #ccc; */
	}
	
	.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 30.666667% !important;
    border: 2px solid #fff;
	}
	
	.sns {
	flex: 1;
	}
	
	.row {
	justify-content: space-around;}
}
.modal-smaller .btn-full-width {
    width: 100%;
}
.modal-smaller .form-actions {
    width: 100%;
}
.alert {
    border-radius: 0px;
    text-align: center;
    margin-bottom: 0px;
    padding: 25px;
    color: white;
    border: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
}
.alert-error {
    background-color: #d9534f;
}
.alert-success {
    background-color: #5cb85c;
}
.label-default {
    background-color: #b6bac3;
}
.orange {
    color: #f0ad4e;
}
.green {
    color: #5cb85c;
}
.red {
    color: #d9534f;
}
.blue {
    color: #337ab7;
}
.gray {
    color: #9097a8;
}
.silver {
    color: #b9bcc3;
}
.white {
    color: white;
}
.black {
	color: black;
}
.orange-bg {
    background-color: #f0ad4e;
}
.green-bg {
    background-color: #5cb85c;
}
.red-bg {
    background-color: #d9534f;
}
.blue-bg {
    background-color: #337ab7;
}
.gray-bg {
    background-color: #9097a8;
}
.silver-bg {
    background-color: #d2d6df;
}
.white-bg {
    background-color: white;
}
.tooltip-inner {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #2b3242;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #2b3242
}
.tooltip.left .tooltip-arrow {
    border-left-color: #2b3242
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #2b3242
}
.tooltip.right .tooltip-arrow {
    border-right-color: #2b3242
}
.terms-box {
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
    padding-top: 20px;
}
.terms-box h1 {
    font-size: 24px;
}
.technical-alert {
    text-align: center;
    padding: 25px;
    background-color: #d35400;
    color: white;
}
.login-btn .fa {
    position: inherit;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.login-btn .fa-cog {
    width: 29px;
}
.smaller-padding {
    padding-top: 11px!important;
    padding-bottom: 11px!important;
}
.label {
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: normal;
    font-size: 12px;
}
.btn:active,
.btn:focus,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-danger {
    background-color: #d22e3e;
    border-color: #d22e3e;
}
.btn-danger:hover {
    background-color: #ba1f2e;
    border-color: #ba1f2e;
}
.spinner {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: -2px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-animation: spin 700ms infinite linear;
    -moz-animation: spin 700ms infinite linear;
    -o-animation: spin 700ms infinite linear;
    -ms-animation: spin 700ms infinite linear;
    animation: spin 700ms infinite linear;
    display: inline-block;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #e6e6e6;
}
.dropdown-menu {
    margin-left: -1px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes spin {
    100% {
        -o-transform: rotate(360deg);
    }
}
@-ms-keyframes spin {
    100% {
        -ms-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.btn-link:hover,
.btn-link:focus {
    color: white;
    text-decoration: none;
}
/*===============================================Content===============================================*/
.content {
    background-color: #f5f5f9;
    padding-top: 40px;
    padding-bottom: 40px;
}
/*===============================================Footer===============================================*/

.footer {
    background-color: #354134;     /* 수정 */
    text-align: center;
    padding-top: 30px;
		padding-bottom: 50px;
		padding-left:50px;
		padding-right:50px;
    color: #f0f4f0;     /* 수정 */
}
.btn {
    border-radius: 2px;
    padding: 8px 16px;
}
.dark-bg {
    background-color: #2b3242;
    color: #ebecf2;
}
.dark-bg-stat {
    background-color: #1a1f2a;
    color: #555d6d;
}
.dark-bg-stat h3 {
    color: white;
}
.dark-bg-stat .btn {
    padding: 20px 30px!important;
}
.dark-bg-stat {
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}
.info-box h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.uploader-bg {
    position: relative;
    background-color: #ffffff;
}
.uploader-bg h1 {
    margin-top: 0px;
}
.box-padding-medium {
    padding-top: 20px;
    padding-bottom: 20px;
}
.box-padding-big {
    padding-top: 80px;
    padding-bottom: 80px;
}
.box-padding-big-top {
    padding-top: 80px;
}
.box-padding-big-bottom {
    padding-bottom: 80px;
}
.margin-top-big {
    margin-top: 40px;
}
.margin-bottom-big {
    margin-bottom: 40px;
}
.box-padding-huge {
    padding-top: 60px;
    padding-bottom: 60px;
}
.drop-box {
    border: 4px silver dotted;
    width: 400px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 75px;
    padding: 75px;
    border-radius: 10px;
}
.menu-top-fixed {
    position: fixed;
}
.terms-line {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
}
.unlogged-uploaded h2 {
    color: white;
}
.unlogged-uploaded a img {
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(43, 50, 66, .2);
    -moz-box-shadow: 0 1px 1px rgba(43, 50, 66, .2);
    box-shadow: 0 1px 1px rgba(43, 50, 66, .2);
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
}
.unlogged-uploaded a:hover img {
    opacity: 0.8;
}
.unlogged-uploaded {
    background-color: #1a1f2a;
    padding-top: 40px;
    padding-bottom: 60px;
}
.header {
    background-color: #72813f;   /* 헤더 멀러 변경 */
    background-image: url('../images/bg-top.jpg');
    background-position: center top;
    background-size: cover;
    color: white;
    /* padding-top: 30px; */
    /* padding-bottom: 100px; */
}
.header h1 {
    /* padding-top: 90px; */
    font-size: 60px;
    color: white;
}
.header h4 {
    padding-bottom: 0px;
}
h3 {
    font-size: 36px;
}
.menu-links {
    padding-left: 0px;
    margin-bottom: 0px;
}
.menu-links li {
    display: inline-block;
}
.menu-links li a {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.2s ease;
}
.menu-links li a:hover {
    color: rgba(255, 255, 255, 1);
}
.menu-links li .btn-danger {
    color: white;
}
.logo img {
    width: 210px;
}
.uploader-box .btn {
    padding: 25px 45px!important;
    font-size: 24px;
}
.info-big p {
    margin-top: 30px;
    margin-bottom: 30px;
}
.info-big h2 {
    padding-top: 50px;
}
.icon-title {
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 30px;
}
.small-info {
    width: 350px;
    text-align: left;
    margin: auto;
    padding-top: 80px;
}
.small-info img {
    float: left;
    margin-right: 10px;
}
#progress {
    position: fixed;
    bottom: auto;
    top: 0px;
}
.fileinput-button input {
    padding: 22px;
}
.uploader-box .btn {
    border-radius: 4px;
}
a:active {
    text-decoration: none;
}
.modal-header h3 {
    font-size: 24px;
}
.project-box {
    display: inline-block;
    font-size: 14px;
}
.project-box p {
    padding: 5px;
    color: white;
}
.menu-top-home-fixed {
    width: 100%;
    background-color: #fff;
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0px;
    left: 0px;
    z-index: 999;
    margin-top: -78px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-bottom: 1px #e2e3e8 solid;
}
.menu-top-home-fixed .menu-links li a {
    color: #737b8a;
}
.menu-top-home-fixed .menu-links li a:hover {
    color: #d9534f;
}
.menu-top-home-fixed .btn-danger {
    color: white!important;
}
.menu-top-home-fixed .logo img {
    width: 160px;
}
.social-login-btn {
    position: relative;
    margin-bottom: 10px;
    padding-top: 11px!important;
    padding-bottom: 10px!important;
    font-size: 14px;
}
.dark-footer a,
.unlogged-uploaded a {
    color: #d22e3e;
}
.dark-footer a:hover,
.unlogged-uploaded a:hover {
    color: #fff;
}
.progress-bar-danger {
    background-color: white;
}
.menu-top-home-fixed .logo img {
    margin-top: 0px;
}